/* 2016-10-20 17:53:43 landing/luckycat/container 0.0.24  */
*,a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: 0
}

body,form,h1,h2,h3,h4,html,ol,p,ul {
	padding: 0;
	margin: 0;
	border: 0
}

a {
	text-decoration: none
}

a img {
	border: 0
}

li,ol,ul {
	list-style: none;
	display: block
}

em {
	font-style: normal
}

button,input:not([type]),input[type=text],input[type=search],input[type=button],input[type=submit] {
	font-family: Microsoft YaHei,arial;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none
}

input::-webkit-input-placeholder {
	color: #999
}

input::-moz-placeholder {
	color: #999
}

body {
	-webkit-text-size-adjust: none;
	background: #FFF;
	font-family: Microsoft YaHei,arial
}[clk] {
	cursor: pointer
}

.img {
	background: url(data:image/jpg) center no-repeat #eee
}

.fixed {
	width: 100%;
	position: fixed;
	z-index: 999;
	left: 0;
	bottom: 0
}

.quick {
	display: block;
	width: 16em;
	height: 2em;
	margin: 0 auto;
	color: #fff;
	line-height: 200%;
	text-align: center;
	background-color: #f40
}

.quick em {
	font-size: .75em
}


/* 2016-06-02 13:47:33 landing/luckycat/flow 0.0.4  */
.flow .section {
	display: block;
	position: relative;
	width: 16em;
	margin: 0 auto;
	overflow: hidden
}

.flow .section .arrow {
	background: url(//gw.alicdn.com/tps/TB14wlKLVXXXXcyXFXXXXXXXXXX-20-20.png) .8em .2em no-repeat #EAEAEA;
	background-size: 1.3em auto;
	padding: .3em;
	font-size: .6em;
	line-height: 150%;
	font-weight: 400;
	color: #000
}

.flow .section .arrow .title {
	margin-left: 2em
}

.flow .section .img {
	position: relative;
	margin: 0 auto;
	background-size: 20% auto
}

.flow .section .img .imgx {
	display: block;
	min-height: 16em
}

.flow .section .img img {
	width: 100%;
	vertical-align: middle
}

/* 2016-06-02 13:59:13 landing/luckycat/imgs 0.0.6  */
.imgs .section {
	display: block;
	position: relative;
	width: 16em;
	margin: 0 auto;
	overflow: hidden
}

.imgs .section .arrow {
	background: url(//gw.alicdn.com/tps/TB14wlKLVXXXXcyXFXXXXXXXXXX-20-20.png) .8em .2em no-repeat #EAEAEA;
	background-size: 1.3em auto;
	padding: .3em;
	font-size: .6em;
	line-height: 150%;
	font-weight: 400;
	color: #000
}

.imgs .section .arrow .title {
	margin-left: 2em
}

.imgs .section .img {
	position: relative;
	margin: 0 auto;
	background-size: 20% auto
}

.imgs .section .img .imgx {
	display: block;
	min-height: 16em
}

.imgs .section .img img {
	width: 100%;
	vertical-align: middle
}

/* 2016-06-02 13:36:42 landing/luckycat/item 0.0.12  */
.item .section,.item .section .info,.item .section .title {
	position: relative;
	overflow: hidden
}

.item .section {
	display: block;
	width: 16em;
	margin: 0 auto
}

.item .section .title {
	line-height: 220%;
	white-space: nowrap;
	text-align: center;
	font-size: .75em;
	background-color: #000;
	color: #FFF
}

.item .section .img {
	position: relative;
	margin: 0 auto;
	background-size: 20% auto
}

.item .section .img .imgx {
	display: block;
	min-height: 16em
}

.item .section .img img {
	width: 100%;
	vertical-align: middle
}

.item .section .info {
	padding-bottom: .2em
}

.item .section .info em {
	position: absolute;
	top: 0;
	left: 0;
	width: 4.8em;
	line-height: 210%;
	text-align: center;
	font-family: arial;
	font-style: normal;
	font-size: 1.2em;
	color: #F40
}

.item .section .info .detail {
	padding: .1em 0 .1em 5em;
	margin: .2em .6em;
	border-bottom: 1px dotted #999;
	overflow: hidden
}

.item .section .info .detail li {
	float: left;
	width: 33.3%;
	line-height: 170%;
	text-align: center;
	font-size: .6em;
	color: #000
}

.item .section .info .detail li .num {
	font-family: arial;
	color: #999
}

.item .section .info .btn {
	display: block;
	margin: .5em .8em;
	padding: .45em;
	text-align: center;
	font-size: .7em;
	border-radius: .5em;
	background-color: #F40;
	color: #fff
}

.item .section .info .btn:last-child {
	margin-bottom: .35em
}

/* 2016-10-20 11:46:15 landing/luckycat/order 0.0.18  */
.order .section,.order .section .wrap {
	width: 16em;
	overflow: hidden;
	position: relative
}

.order {
	padding-bottom: 1.9em
}

.order .section {
	display: block;
	margin: 0 auto
}

.order .section .arrow {
	background: url(//gw.alicdn.com/tps/TB14wlKLVXXXXcyXFXXXXXXXXXX-20-20.png) .8em .2em no-repeat #EAEAEA;
	background-size: 1.3em auto;
	padding: .3em;
	font-size: .6em;
	line-height: 150%;
	font-weight: 400;
	color: #000
}

.order .section .arrow .title {
	margin-left: 2em
}

.order .section .wrap {
	margin: 0 auto;
	background-color: #F40
}

.order .section .wrap .logo {
	background: url(//gw.alicdn.com/tps/TB14NXtLVXXXXXvapXXXXXXXXXX-25-25.png) .5em .43em no-repeat #F40;
	background-size: 1.2em auto;
	padding: .3em;
	font-size: .7em;
	line-height: 150%;
	border-bottom: .15em solid #F40;
	color: #FFF
}

.order .section .wrap .logo .subtitle {
	margin-left: 1.7em
}

.order .section .wrap .form {
	position: relative;
	width: 26em;
	margin: 0 auto;
	overflow: hidden;
	background-color: #FFF;
	font-size: .6em;
	line-height: 150%
}

.order .section .wrap .form .row {
	position: relative;
	padding: .3em .5em .2em 0;
	overflow: hidden
}

.order .section .wrap .form .row .label {
	float: left;
	width: 5em;
	padding: .15em .5em 0 .7em;
	text-align: right
}

.order .section .wrap .form .row .label em {
	color: red;
	font-weight: 700;
	font-style: normal
}

.order .section .wrap .form .row .content {
	overflow: hidden
}

.order .section .wrap .form .row .content .radios,.order .section .wrap .form .row .content .radios .radio {
	display: inline-block;
	margin: 0 .4em 0 0
}

.order .section .wrap .form .row .content .radios .radio:last-child {
	margin-right: 0
}

.order .section .wrap .form .row .content .radios .radio input {
	width: 1em;
	height: 1em;
	margin: 0;
	font-size: 1em;
	vertical-align: middle
}

.order .section .wrap .form .row .content .radios .radio span {
	margin: 0 0 0 .2em;
	vertical-align: middle
}

.order .section .wrap .form .row .content .select,.order .section .wrap .form .row .content .text,.order .section .wrap .form .row .content .textarea {
	width: 19em;
	height: 1.8em;
	border: 1px solid #E0E0E0;
	background: #FCFCFC;
	overflow: hidden
}

.order .section .wrap .form .row .content .textarea {
	height: 4em
}

.order .section .wrap .form .row .content .select {
	border-radius: .4em;
	overflow: hidden
}

.order .section .wrap .form .row .content .select select,.order .section .wrap .form .row .content .text input,.order .section .wrap .form .row .content .textarea textarea {
	font-family: Microsoft YaHei,arial;
	height: 100%;
	width: 100%;
	padding: .3em .4em;
	border: 0;
	font-size: 1em;
	background-color: #FCFCFC;
	box-sizing: border-box
}

.order .section .wrap .form .row .content .select select {
	float: left;
	padding: 0
}

.order .section .wrap .form .row .content .textarea textarea {
	line-height: 140%;
	resize: none
}

.order .section .wrap .form .row .content .confirmation {
	border: 0;
	background: #FFF
}

.order .section .wrap .form .row .content .confirmation .entry {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	height: 1.9em;
	width: 11.2em;
	padding: .3em .4em;
	margin: 0;
	font-size: 1em;
	border: 1px solid #E0E0E0;
	background-color: #FCFCFC
}

.order .section .wrap .form .row .content .confirmation .icon {
	visibility: hidden;
	display: inline-block;
	width: 1.2em;
	height: 1.9em
}

.order .section .wrap .form .row .content .confirmation .icon img {
	width: 100%;
	height: 100%
}

.order .section .wrap .form .row .content .confirmation .btn {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	height: 1.9em;
	width: 7.3em;
	padding: .12em;
	margin: 0 0 0 .3em;
	text-align: center;
	border: 1px solid #E0E0E0;
	border-radius: 1em;
	background-color: #FCFCFC
}

.order .section .wrap .form .row .content .selector {
	position: relative;
	white-space: nowrap
}

.order .section .wrap .form .row .content .selector .select {
	float: left;
	width: 6em;
	margin: 0 .3em 0 0;
	vertical-align: middle
}

.order .section .wrap .form .row .content .selector .select:last-child {
	margin-right: 0
}

.order .section .wrap .form .row .content .tip {
	position: relative;
	left: 6.2em;
	width: 17.75em;
	padding: .3em .5em;
	line-height: 120%;
	border: 1px dotted #E0E0E0;
	color: #666;
	background: #FFFFE6
}

.order .section .wrap .form .row .content .tip em {
	font-style: normal;
	font-size: .8em;
	color: #090
}

.order .section .wrap .form .row .content .tip span {
	font-size: .8em;
	color: #666
}

.order .section .wrap .form .row .content .submit {
	width: 9em;
	height: 2.5em;
	font-size: 1em;
	background-color: #F40;
	border-radius: .5em;
	border: 0;
	color: #FFF;
	margin-bottom: .5em
}

.order .section .wrap .form .hidden {
	display: none!important
}

.order .section .wrap .form #total #instock em,.order .section .wrap .form #total #outstock {
	font-weight: 700;
	color: #F40
}

.order .section .wrap .form #show {
	display: none
}

/* 2016-05-23 11:30:42 landing/luckycat/serve 0.0.6  */
.serve .section {
	display: block;
	position: relative;
	width: 16em;
	margin: 0 auto;
	overflow: hidden
}

.serve .section .arrow {
	background: url(//gw.alicdn.com/tps/TB14wlKLVXXXXcyXFXXXXXXXXXX-20-20.png) .8em .2em no-repeat #EAEAEA;
	background-size: 1.3em auto;
	padding: .3em;
	font-size: .6em;
	line-height: 150%;
	font-weight: 400;
	color: #000
}

.serve .section .arrow .title {
	margin-left: 2em
}

.serve .section .wrap {
	position: relative;
	overflow: hidden;
	background-color: #f9f9f9
}

.serve .section .wrap .ad {
	font-size: .6em;
	margin: .5em .9em;
	line-height: 140%;
	word-break: break-all
}

.serve .section .wrap .hotline,.serve .section .wrap .message {
	display: block;
	padding: .65em;
	margin: .5em .8em;
	font-size: .7em;
	text-align: center;
	border-radius: .3em;
	color: #fff;
	background-color: #F40
}